<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLBHConnection"
			 connectionString="Server=NGUYENVOTHANHSO\THANHSON1; Database=QLBH; Integrated Security=True; MultipleActiveResultSets=True; TrustServerCertificate=True"
			 providerName="System.Data.Sqlclient"/>	
	</connectionStrings>
</configuration>	